<form class="comment-form card" id="comment-form">
    <div class="card-header">Add your comment!</div>
    <div class=>
        <div>
            <input class ="form-input" type="text"/>
        </div>
        <div>
            <button type="submit" class="btn">Post comment!</button>
        </div>
    </div>
</form> 
<script src="/js/comment.js"></script>